@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');


*{
    font-family: 'Poppins', sans-serif;
    outline: none;
    text-decoration: none;

}

a {
  text-decoration: none; /* Elimina la subrayado de los enlaces */
  outline: none; /* Elimina el borde alrededor del enlace cuando está enfocado */
}

.navbar-logo{
  margin-left:3rem;
}

html {
  scroll-behavior: smooth;
}
#seccion-destino1 a {
text-decoration: none;
outline: none;
}

.enlace-destino {
  color: white;
  text-decoration: none;


}

  /* estilo top*/
.cinta{
    height:2.9rem;
    background-color:#fcb900;
    text-align: center;
}

#link1 {
  color: black; /* Cambia el color del texto del enlace a negro */
  text-decoration: none; /* Elimina el subrayado predeterminado */
}

.cinta span {
  margin-right: 4rem;
}

#iconoslink1{
    margin-left: 48rem;
    font-size: 1.5rem;
    margin-top: 0.5rem;
    gap: 5rem;
}
#iconoslink2{
    font-size: 1.5rem;
    margin-left: 1rem;
    color: black;
    text-decoration: none;
    outline: none;
}
#iconoslink3{
    font-size: 1.5rem;
    margin-left: 1rem;
    color: black;
}

img{
    height:7rem;
}

.container-fluid{
    font-size: 1.5rem;
}

.cinta2 img{
    width: 100%;
    height: 25rem;  
    filter: grayscale(100%);
}

.cinta2 {
    position: relative;
   
}

.cinta2 h4 {
    position: absolute; /* Posicionamiento absoluto */
    top: 30%; /* Colocamos el texto en el centro verticalmente */
    left: 48%; /* Colocamos el texto en el centro horizontalmente */
    transform: translate(-50%, -50%); /* Centramos el texto completamente */
    color: white; /* Color del texto */
    padding: 10px; /* Espacio interno alrededor del texto */
    width: 90%; /* Ancho del texto */
    text-align: center; /* Alineación del texto */
    font-size: 60px; /* Tamaño del texto */
    
  }

  .cinta2 p {
    position: absolute; /* Posicionamiento absoluto */
    top: 65%; /* Colocamos el texto en el centro verticalmente */
    left: 15%; /* Colocamos el texto en el centro horizontalmente */
    color: white;
    text-align: center;
    font-size: 20px;
     
  }

  .cinta2 button{
    position: absolute;
    top: 80%; 
    left: 44%;
    height: 4rem;
    background-color: #FFFFFF26;
    color: #FFFFFF;

  }

  .cinta2 span {
    position: absolute; /* Posicionamiento absoluto */
    top: 45%; /* Colocamos el texto en el centro verticalmente */
    left: 40%; /* Colocamos el texto en el centro horizontalmente */
    color: white;
    text-align: center; 
    font-size: 40px;
  }

  .navbar{

   width: 100%;
  }

  .nav-link{
    margin-right:3.5rem;
  }

  .nav-item{
    font-size: 1.4rem;
  }

  /* cuerpo de estilo */
  .body1{
    width: 100%;
    height: 15rem;
     background-color: white;
     text-align: center;
     justify-content: center;
     align-items: center;
     margin-top:3rem;
     display: wrap;
  }

  .body2{
    width: 100%;
    display: flex; /* Activa el diseño de caja flexible en el contenedor */
  align-items: center; /* Centra verticalmente el contenido */
  justify-content: center; /* Centra horizontalmente el contenido */
  height: 35rem; /* Ajusta la altura del contenedor según el viewport */
  padding: 2rem;
  }
  .body2 img{
    height: 30rem;
    width: 30rem;
    margin-right: 2rem;
    margin-bottom: 2rem;
    justify-content: space-around;

  }

  .parrafo2{
    width:20rem;
  }

  .parrafo2 p{
    font-size: 20px;
  }

  .body4{
    width:18rem;
  }

  .cinta4{
    height: 18rem;
    width: 100%;
    background-color:rgba(20, 41, 201, 0.871);
    color: white;
    align-items: center;
    text-align: center;
    justify-content: center;
    display: block;
    flex-direction: column;
    padding: 20px;
  }

  .top-section {
    text-align: center;
  }
  
  .top-section h1 {
  
    margin: 0;
  }

  .bottom-section {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
  }

  .insurance {
    text-align: center;
    margin: 0 20px;
  }
  
  .insurance i {
    font-size: 24px;
  }
  
  .insurance h5 {
    font-size: 18px;
  }
  

  footer{
    display: flex;
    height: 20rem;
    width: 100%;
    background-color: rgba(20, 41, 201, 0.871);
  }

  .cintafooter{
   background-color: #fcb900;
   height: 16rem;
   width: 100%;
   text-align: center;
   color:white;
   padding-top: 30px;
  }

  .cintafooter button{
      margin-top: 1rem;
      height: 3rem;
      background-color: #FFFFFF26;
      color: #FFFFFF;
  
   }
 
.footer1{
  color: white;
  display:flex;
  flex-direction: column;
  align-items: flex-end;
  width: 100%;  
padding-top: 2rem;
padding: 50px;

}


.logo{
  width: 70rem;
}

.logo img{
margin: 1rem;
}

.logo p{
  color:white;
  margin-left:18px;

}

#img2{
padding: 0rem;
}

.parrafo2{
  margin: 80px;
}
.logosFooter{
  display: flex;
  align-items: center;
  width: 100%;
}

#iconoslink{
  font-size: 1.5rem;
    margin-left: 1rem;
    color: black;
 
}

#carouselExample {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 35rem;
  
}

/* Estilos para las imágenes en el carrusel */
#carouselExample img {
  height: 35rem;
  width: 20%; /* Esto permite que la imagen se ajuste al ancho del carrusel */
}


@media (max-width: 768px) {
  .titulo {
    font-size: 18px;
  }

  .parrafo2{
    width:80rem;
  }
  

  footer{
    height: 20rem;
    width: 80rem;
}

.cinta{
  width: 80rem;

}

#iconoslink1{
  margin-left: 1rem;
}

.cinta4{
  width: 80rem;
  justify-content: center;
}

.body2{
  width: 80rem;
}

.cintafooter{
  width: 80rem;
}


.cinta2{
  width: 80rem;
  justify-content: center;
  text-align: center;
  align-items: center;
}

.body1{
width: 80rem;

}

#carouselExample{
  width:80rem;
}

}